# Ignorer tous les dossiers node_modules partout dans le projet
node_modules/

# Ignorer les fichiers environnement
*.env

# Ignorer les fichiers de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Ignorer les dépendances installées par le package manager
package-lock.json
yarn.lock

# Ignorer le cache de l'éditeur
.vscode/
.idea/

# Ignorer le cache de build React
build/
.next/
out/

# Ignorer les fichiers temporaires du système
.DS_Store
Thumbs.db

# Ignorer les fichiers liés à Docker (si tu utilises Docker)
docker-compose.override.yml

# Ignorer les fichiers liés à l’OS
*.swp
*.swo
