.inscription-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 0;
}

.inscription-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../connexion/shutterstock_1470615731-2.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(8px);
    z-index: -1; /* Envoie l'image floutée en arrière-plan */
}
